/* Horizontal image event */
.event-images {
  display: flex;
  gap: 12px;
  overflow-x: auto;
}

.event-images img {
  height: 160px;
  width: auto;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--shadow);
  flex-shrink: 0;
}
